*.tfstate*
.terraform/
terraform.tfvars
*.retry
secrets/
*.key
*.pem
.DS_Store

# Data directories (created on mini PC)
gitea/
certs/

# Logs
*.log

# Swap files
*.swp
*.swo

# Credentials
credentials.yml
.vault_pass
